
 {% extends 'base.html.twig' %}

{% block title %}Edit Campagne{% endblock %}

 
 {% block body %}
 
 {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} 

{% endblock %}
{# 
{{ form_start(form)}}

{{ form_row(form.montant) }}
{{ form_row(form.cree_a) }}
{{ form_row(form.mise_a_jour) }}
{{ form_row(form.participant) }}



<button class="btn">{{ button_label|default('Save')}} </button>
{{ form_end(form) }} #}