 {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} 


{# 
<form method="post">

            {{ form_row(form.titre) }}
            {{ form_row(form.contenu) }}
            {{ form_row(form.objectif) }}
            {{ form_row(form.nom) }}

<button type="submit" class"btn">{{ button_label|default('Save') }} </button>
</form>  #}
